<header>
  <nav>
    <div class="navbar-head__left">
      <a href="/">
        <img src="https://th.bing.com/th/id/OIP.FPKzzZ-WXvcYoVGVJza76AHaEK?rs=1&pid=ImgDetMain" alt="logo" />
      </a>
      <div>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
      </div>
    </div>
    <div class="navbar-head__right">
      <img src="https://th.bing.com/th/id/OIP.FPKzzZ-WXvcYoVGVJza76AHaEK?rs=1&pid=ImgDetMain" alt="logo" />
    </div>
  </nav>
</header>